.gray-font {
    color: #85878a;
}

.card .custom-card {
    color: #85878a;
    letter-spacing: 0.5px;
}

.card-header {
    background-color: white;
    padding-top:20px;
    color: black;
    padding-left:25px;
    padding-right: 25px;
}

.card-header-title {
    font-weight: 700;
    font-size: 1.75em;
}

.form-control {
    padding-left: 15px;
    font-size: 1.05em;
}

.card-body {
    font-size: 17px;
    padding-left:25px;
    padding-right: 25px;
}